doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/plupload/2.1.9/plupload.full.min.js')
    script(src='javascripts/demo.js')
  body
    block content
